* {
    margin: 0;
    padding: 0;
}

.work-sans-primary {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.btn-color {
    background-color: #FF900E;
    color: white;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

li:hover {
    text-decoration: underline;
}

/* nav style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}

nav h2 {
    font-size: 3rem;
    font-weight: 600;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
}

.nav-link {
    margin-right: 60px;
}

.nav-link a {
    text-decoration: none;
    font-size: 1.02rem;
    font-weight: 500;
}

/* banner style */
.heading {
    font-size: 4rem;
    font-weight: 800;
}

.contant-des {
    font-size: 1rem;
}

.contant {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 116px;
}

.heading {
    margin-bottom: 30px;

}

.Explore-More {
    height: 64px;
    width: 180px;
    border-radius: 8px;
    font-size: 1.25rem;
    border-style: none;
    margin-top: 32px;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 38px;
}

.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

/* features style */

.Quick-list {
    font-size: 3rem;
    font-weight: 400;
}

.of-Our {
    font-size: 3rem;
    font-weight: 800;
}

.Features {
    font-weight: 800;
    color: #FF900E;
    font-size: 3rem;
}

.features {
    display: flex;
    align-items: center;

}

.four-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-contant {
    max-width: 537px;
    margin-left: 74px;
}

.features-des {
    margin-top: 24px;
    margin-bottom: 32px;
}

.items {
    margin-top: 100px;
}

/* love-enjoy style */
.love-enjoy {
    display: flex;
    margin-top: 130px;
}

.love-enjoy-main-head {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 24px;
    border-left: 5px #FF900E solid;
    padding-left: 20px;
    margin-top: 40px;
}

.love-enjoy-head {
    font-weight: 600;
    font-size: 20px;
}

.love-enjoy-des {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

.card {
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.love-enjoy-img {
    margin-left: 150px;
    width: 100%;
}

.btn-head {
    font-size: 4rem;
    font-weight: 800;
}

.btn-des {
    font-size: 1.3rem;
    font-weight: 500;


}

.exp-btn {
    border-radius: 8px;
    border-style: none;
    padding: 45px;
    margin-left: -100px;
    margin-top: -100px;
}

/* some facts style */
.some-facts-head {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.some-facts {
    margin-top: 110px;
}

.some-facts-des {
    font-size: 1rem;
    max-width: 542px;
}

.achivement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 130px;
    margin-bottom: 180px;
}

.ach-head {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ach-des {
    font-size: 1.25rem;
    font-weight: 500;
}


.fact-card {
    display: flex;
    border: #FF900E solid 2px;
    border-radius: 8px;
    height: 240.5px;
    width: 240.5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* sponsor style */
.sponsor-head {
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
}

.sponsor-des {
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
}

.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    margin-bottom: 130px;

}

/* footer style */
footer {
    max-width: 1440px;
    margin: 0 auto;

}

footer p {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 8px;
    margin-bottom: 250px;
}

/*  small device responsive */
@media screen and (max-width: 576px) {

    .navbar,
    header ul,
    .features,
    .love-enjoy {
        flex-direction: column;
    }

    .four-img {
        grid-template-columns: repeat(1, 1fr);

    }

    .love-enjoy-img img {

        width: 100%;
    }

    .love-enjoy-img {
        margin-left: 0px;
    }

    .features-contant {
        margin-left: 15px;
    }

    .love-enjoy-container,
    .some-facts,
    .sponsor {
        margin: 10px;
    }

    .achivement {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;

    }

    .sponsor-img {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
    }

    .exp-btn {
        margin-top: 20px;
        margin-left: 20px;
    }
}